<footer>

  <Nav class="menu-rodape">
    <ul>
      <li><a href="" target="_blank">1</a></li>
      <li><a href="" target="_blank">2</a></li>
      <li><a href="" target="_blank">3</a></li>
      <li><a href="" target="_blank">4</a></li>
      <li><a href="" target="_blank">5</a></li>
      <li><a href="" target="_blank">6</a></li>
      <li><a href="" target="_blank">7</a></li>
      <li><a href="" target="_blank">8</a></li>
      <li><a href="" target="_blank">9</a></li>
      <li><a href="" target="_blank">10</a></li>
      <li><a href="" target="_blank">11</a></li>
    </ul>
  </Nav>
</footer>