@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  height: 100%;
}

h1 {
  margin-top: 4%;
  font-family: 'Indie Flower',
    cursive;
  text-align: center;
  color: rgb(104, 104, 73);
}

  div#background {
  height: 20px;
  width: 100%;
  padding-top: 20px;
} 

a {
  text-decoration: none;
  color: rgb(104, 104, 73);
}

div#gallery {
  width: 800px;
  margin: auto;
}

img {
  height: 50vw;
  width: 9vw;
}

#background img {
  height: 97px;
  margin: 0px;
}

#background figure {
  float: left;
  position: relative;
  background-color: white;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  margin: 7px;
  box-shadow: 1px 2px 3px black;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

figure.pic1 {
  -webkit-transform: rotate(-10deg);
  z-index: 1;
}

figure.pic2 {
  -webkit-transform: rotate(15deg);
  z-index: 2;
}

figure.pic3 {
  -webkit-transform: rotate(-25deg);
  z-index: 1;
}

figure.pic4 {
  -webkit-transform: rotate(5deg);
  z-index: 1;
}

figure.pic5 {
  -webkit-transform: rotate(5deg);
  z-index: 1;
}

figure.pic6 {
  -webkit-transform: rotate(-8deg);
  z-index: 1;
}

figure.pic7 {
  -webkit-transform: rotate(2deg);
  z-index: 1;
}

figure.pic8 {
  -webkit-transform: rotate(-13deg);
  z-index: 1;
}

figure.pic9 {
  -webkit-transform: rotate(-7deg);
  z-index: 1;
}

figure.pic10 {
  -webkit-transform: rotate(2deg);
  z-index: 1;
}

figure.pic11 {
  -webkit-transform: rotate(-3deg);
  z-index: 1;
}

figure.pic12 {
  -webkit-transform: rotate(13deg);
  z-index: 1;
}

figure.pic13 {
  -webkit-transform: rotate(-13deg);
  z-index: 1;
}

figure.pic14 {
  -webkit-transform: rotate(9deg);
  z-index: 1;
}

figure.pic15 {
  -webkit-transform: rotate(20deg);
  z-index: 1;
}

#background figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1, 1.1);
  z-index: 20;
}
