<p>
Recettes
</p>

<!-- 
<div  *ngFor="let classement of recipe">
{{classement.nom}}
{{classement.image}}
</div> -->



<div class="image-box-wrapper" id="image-box-wrapper">

  <!-- `.image-box` start -->
  <div class="image-box">
    <div class="image-container">
      <img src="http://lorempixel.com/200/150/food/1" alt="" width="200" height="150">
    </div>
    <div class="image-details">
      <div class="details">
        <h4>Başlık</h4>
        <p>İçerik...</p>
        <p><a class="more" href="#">Devamı</a></p>
      </div>
    </div>
  </div>
  <!-- `.image-box` end -->
  <!-- `.image-box` start -->
  <div class="image-box">
    <div class="image-container">
      <img src="http://lorempixel.com/200/150/food/1" alt="" width="200" height="150">
    </div>
    <div class="image-details">
      <div class="details">
        <h4>Başlık</h4>
        <p>İçerik...</p>
        <p><a class="more" href="#">Devamı</a></p>
      </div>
    </div>
  </div>
  <!-- `.image-box` end -->
  <!-- `.image-box` start -->
  <div class="image-box">
    <div class="image-container">
      <img src="http://lorempixel.com/200/150/food/1" alt="" width="200" height="150">
    </div>
    <div class="image-details">
      <div class="details">
        <h4>Başlık</h4>
        <p>İçerik...</p>
        <p><a class="more" href="#">Devamı</a></p>
      </div>
    </div>
  </div>
  <!-- `.image-box` end -->
  <!-- `.image-box` start -->
  <div class="image-box">
    <div class="image-container">
      <img src="http://lorempixel.com/200/150/food/1" alt="" width="200" height="150">
    </div>
    <div class="image-details">
      <div class="details">
        <h4>Başlık</h4>
        <p>İçerik...</p>
        <p><a class="more" href="#">Devamı</a></p>
      </div>
    </div>
  </div>
  <!-- `.image-box` end -->
  <!-- `.image-box` start -->
  <div class="image-box">
    <div class="image-container">
      <img src="http://lorempixel.com/200/150/food/1" alt="" width="200" height="150">
    </div>
    <div class="image-details">
      <div class="details">
        <h4>Başlık</h4>
        <p>İçerik...</p>
        <p><a class="more" href="#">Devamı</a></p>
      </div>
    </div>
  </div>
  <!-- `.image-box` end -->
  <!-- `.image-box` start -->
  <div class="image-box">
    <div class="image-container">
      <img src="http://lorempixel.com/200/150/food/1" alt="" width="200" height="150">
    </div>
    <div class="image-details">
      <div class="details">
        <h4>Başlık</h4>
        <p>İçerik...</p>
        <p><a class="more" href="#">Devamı</a></p>
      </div>
    </div>
  </div>
  <!-- `.image-box` end -->
  <!-- `.image-box` start -->
  <div class="image-box">
    <div class="image-container">
      <img src="http://lorempixel.com/200/150/food/1" alt="" width="200" height="150">
    </div>
    <div class="image-details">
      <div class="details">
        <h4>Başlık</h4>
        <p>İçerik...</p>
        <p><a class="more" href="#">Devamı</a></p>
      </div>
    </div>
  </div>
  <!-- `.image-box` end -->


  <div class="clear"></div>

</div>