<app-nav></app-nav>

<section>

<input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox" id="myInput">
<div class="plop">
<ul class="photo-stack-grid">

<table *ngFor="let r of detailsR | grdFilter: {name: searchText, text:searchText}" routerLink="{{r.rooting}}">
  <tr>
<!-- <td align="center" valign="center">{{i +1}}</td> -->

<figure class="photo-stack">

<td><img src="{{r.image}}" alt="picture" (click)="SelectRecipe()"></td>
</figure>

<span><td>{{r.name}}</td></span>

  
  </tr>
</table>
</ul>
</div>
</section>

<app-footer></app-footer>