<app-nav></app-nav>


<section>
  <h1>Check Out These Bears</h1>

  <ul class="photo-stack-grid">
    <li>
      <a href="#d">
        <figure class="photo-stack">


          <!-- 
            ***change aspect ratio of image - /200/400*** 
        -->
          <img src="../../../assets/img/moussaka.jpg" alt="picture" />


        </figure>
        <span>sidgji rghilsrhjgoisrhtgiorthsio</span>
      </a>
    </li>
    <li>
      <a href="#d">
        <figure class="photo-stack">
          <img src="../../../assets/img/risotto-asperges.jpg" alt="picture" />
        </figure>
        <span>ja ja ja ja j aj aj aja jajaja </span>
      </a>
    </li>
    <li>
      <a href="#d">
        <figure class="photo-stack">
          <img src="../../../assets/img/salade-tomate-mozzarella.jpeg" alt="picture" />
        </figure>
        <span>na na n an an an an an an an anan</span>
      </a>
    </li>
    <li>
      <a href="#d">
        <figure class="photo-stack">
          <img src="../../../assets/img/tarte-au-citron.jpg" alt="picture" />
        </figure>
        <span>bababababababa abababba aba </span>
      </a>
    </li>
    <li>
      <a href="#d">
        <figure class="photo-stack">
          <img src="../../../assets/img/Kiwi.jpg" alt="picture" />
        </figure>
        <span>la la la la la la la la la laa</span>
      </a>
    </li>
    <li>
      <a href="#d">
        <figure class="photo-stack">
          <img src="../../../assets/img/tartiflette.jpg" alt="picture" />
        </figure>
        <span>ko ko ko ko ko ko kok o</span>
      </a>
    </li>
    <li>
      <a href="#d">
        <figure class="photo-stack">
          <img src="../../../assets/img/velouter-potimaron-patate-douce.jpg" alt="picture" />
        </figure>
        <span>mmmmmmm</span>
      </a>
    </li>
  </ul>
</section>



<app-footer></app-footer>