<app-nav></app-nav>


<div class="block">

  <h1>{{"recettes" | translate}}</h1>
  <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox" id="myInput">
<div class="images">
<div class="gallery" *ngFor="let r of detailsR | grdFilter: {name: searchText, text:searchText}; let i=index;"
  routerLink="{{r.rooting}}">
    <a target="_blank">
<img src="{{r.image}}" alt="picture" (click)="SelectRecipe()" width="600" height="400">
    </a>
    <div class="desc">{{r.name | translate}}</div>
  </div>
</div>
</div>



<app-footer></app-footer>