@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.logo {
width: 20vw;
display: block;
margin-left: 33%;
/* margin-right: auto; */
margin-top: 2%;
}

body {
  margin: 0;
  padding: 0;

}

.box {
  position: absolute;
  top: 50%;
  left: 50%; 
  margin-top:11%; 
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  background: rgb(191, 146, 140);
  border-radius: 9px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: 'Indie Flower',cursive;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: 'Indie Flower',cursive;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  font-family: 'Indie Flower',cursive;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -18px;
  left: 0;
  color: rgb(237,236,137);
  font-size: 12px;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(66,66,50);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  margin: auto;
}
.button{
margin: auto;
}
.box input[type="submit"]:hover {
  background-color: rgb(234,220,186);
}

input{
 display: flex;
}