

<nav id="main">
  <ul>
<img src="../assets/img/Logo-square-mealgg.png" alt="" class="logo">
  <!-- 
   <li><a routerLink="/about">{{'About' | translate}}</a></li> -->
   <li><a routerLink="/home">{{'home' | translate}}</a></li>
   <li><a routerLink="/images">{{'images' | translate}}</a></li>
<li><a routerLink="/locations">{{'locations' | translate}}</a></li>
<li><a routerLink="/login">{{'login' | translate}}</a></li>
<li id="container">
<button type="button" class="highlight" (click)="useLanguage('fr')">Français</button>
<button type="button" class="highlight" (click)="useLanguage('en')">English</button>
   </li>
  </ul>
</nav>



