

<nav class="navigation">
  <ul>

   <li><a routerLink="/categories">{{'categories' | translate}}</a></li>
   <li><a routerLink="/recettes">{{'recettes' | translate}}</a></li>
<img src="../assets/img/LOGO.png" alt="" class="logo">

 <li><a routerLink="/locations">{{'locations' | translate}}</a></li> 
<li id="container">
<button type="button" class="highlight" (click)="useLanguage('fr')" id="yo"></button>
<button type="button" class="highlight" (click)="useLanguage('en')" id="yooo"></button>
   </li>
  </ul>
</nav>