
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.navigation {
background-color:rgb(191, 146, 140);
}

nav {
    top:0;
    width: 100%;
    transition:all 0.5s;
     position: relative;
   /* z-index: 1; */
       height: 30px;
       margin-top: 40px;
  }
 
  .fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0,0,0,0.1);
  }
nav ul {
    list-style: none;
    display:flex;
    height: 30px;
  }


  nav li {
    flex:1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
nav a {
    text-decoration: none;
    padding:20px;
    display: inline-block;
    color:rgb(66,66,50);
    font-weight: bold;
    transition:all 0.2s;
    font-family: 'Indie Flower',cursive;
    font-size: 20px;
    text-align: center;
  }
 nav a:hover {
    color:rgb(237, 236, 137);
  }

  .logo {
   display: inline-block;
   vertical-align: top;
   width: 170px;
   height: 170px;
   z-index: 2;
   margin-top: -65px;
  }

  #container {
    width: 330px;
    margin: 0px auto;
  }

  button {
        width: 30px;
        height: 30px;
        color: #f4e9e9;
        /* background-color: #444431; */
        font-family: Open Sans Condensed;
        text-decoration: none;
        font-size: 0.8em;
        border: 2px #ffffff solid;
        margin: 0px 0 0 2px;
        transition: all 1.5s;
        border-radius: 40px;
       
  }

#yo {

 background-image: url("../../assets/img/france-flag-round-icon-16.png") ;
background-size: cover;
}
#yooo {
 background-image: url("../../assets/img/united-kingdom-flag-round-xs.png");
background-size: cover;
}

  button:hover {
    cursor: pointer;
  }

  .highlight:hover {
    background-color: #FFffff;
    color: #edec89;
  }

  /* responsiveness...*/

  @media (max-width: 330px) {
    #container {
      width: 100%;
    }
    button {
      width: 90%;
      margin: 5% 0 0 5%;
    }
  }