


<a routerLink="/recettes"><img src="../assets/img/Logo-square-mealgg.png" alt="" class="logo"></a>
<li id="container">
  <button type="button" class="highlight" (click)="useLanguage('fr')" id="fr"></button>
  <button type="button" class="highlight" (click)="useLanguage('en')" id="en"></button>
</li>
<nav>

<div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
<a routerLink="/recettes"><li>{{'recettes' | translate}}</li></a>
    </ul>


  </div>
</nav>