
<div class="liste">
  <h2>Liste d'ingredients</h2>
  <p >
<!-- <p *ngIf="click">
  </p> -->
    <!-- {{ingre.name}} -->
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium quis ipsum culpa labore maxime rerum natus nemo recusandae omnis, nobis mollitia nesciunt iure, 
fugit alias deserunt fuga architecto odio.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium quis ipsum culpa labore maxime rerum natus
nemo recusandae omnis, nobis mollitia nesciunt iure,
fugit alias deserunt fuga architecto odio.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium quis ipsum culpa labore maxime rerum natus
nemo recusandae omnis, nobis mollitia nesciunt iure,
fugit alias deserunt fuga architecto odio.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium quis ipsum culpa labore maxime rerum natus
nemo recusandae omnis, nobis mollitia nesciunt iure,
fugit alias deserunt fuga architecto odio.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium quis ipsum culpa labore maxime rerum natus
nemo recusandae omnis, nobis mollitia nesciunt iure,
fugit alias deserunt fuga architecto odio.


  </p>
</div>
