@import url('https://fonts.googleapis.com/css?family=Indie+Flower');




body {
  height: 100%;
}


.liste {
  margin-left: 80%;
  margin-top: 2%;
  margin-right: 2%;
  border-left: 2px outset rgb(191, 146, 140);
  border-top: 2px outset rgb(191, 146, 140);
  border-right: 2px outset rgb(191, 146, 140);
  border-bottom: 2px outset rgb(191, 146, 140);
  max-height: 410px;
  overflow: auto;
}


h2 {
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;

}

p {
  margin: 2%;
  text-align: left;
  font-family: 'Cedarville Cursive', cursive;
  /* border: 3px blue dashed; */
}

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(77, 82, 77);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: rgb(237, 236, 137);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 66, 50);
}
