
<div class="liste">

<div>
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    <span></span>


    <ul id="menu">
     
<li routerLink="/detailsrecipes">Moussaka</li>
     
     
<li routerLink="/detailsrecipes">Risotto aux asperges</li>
      
     
<li routerLink="/detailsrecipes">Tartiflette</li>
     
     
<li routerLink="/detailsrecipes">Tarte au citron meringué</li>

<li routerLink="/detailsrecipes">Velouté au potimaton</li>
      
<a href="" routerLink="/recettes">
<!-- <p *ngIf="click">
  </p> -->
<!-- {{ingre.name}} -->
        <li>suivant</li>
      </a>
    </ul>
  </div>
</div>
</div>