@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
  height: 100%;
}
img{
  width: 25%;

}
.global{
    padding: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
}
.typo {
  text-align: center;
  font-family: 'Indie Flower',
  cursive;
  margin-top: 8%;
}