@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
  width: 110%;
}
img{
  width: 25%;

}
.global{
    padding: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
}
.typo {
  text-align: center;
  font-family: 'Indie Flower',cursive;
  margin-top: 8%;
  margin-left: -17%;
  margin-right: auto;
}
p {
  margin-right: 18%;
  margin-left: 18%;
  font-family: 'Courier New', Courier, monospace;
}