<app-nav></app-nav>


<h1>{{ "Selectionne ce que tu as chez toi "|translate }} </h1>
<div id="background">

  <button class="retour" (click)="goBack()">retour</button>

  <div id="gallery" *ngFor="let ingre of ingredient">


<figure class=" {{ingre.figure}}">


      <button class="button" (click)="Onclick(Ingredient)">
        <img src="{{ingre.image}}">
      </button>

      <figcaption> {{ingre.name | translate}}</figcaption>



    </figure>



  </div>

</div>



<app-liste-ingredients [Ingredient]="click"></app-liste-ingredients>


<!-- <div id="gallery" *ngFor="let ingre of ingredient" (click)="onSelect(ingr<figure>  e)"></div> -->


<app-footer></app-footer>